/* .week-days {
    align-content: center;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}

.week-days span {
    padding: auto;
} */

.content {
    padding: 20px 0px;
    background-color: #F6F8FA;
    border: none;
    
}

.week-days {
    width: 71%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    position: fixed;
    top: 85px;
    box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
    background: #fff;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 16px;
    border-radius: 10px;
    
}

.week-days button {
    flex-basis: calc(100% / 6);
    text-align: center;
    padding: 3px;
}

.week-days button {
    border-radius: 30px;
    margin: 4px 4px;
    background-color: #fff;
    color: #2DA44E;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}

.week-days button:first-child {
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #2DA44E;
    color: #fff;
}

.week-days button:hover {
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #2DA44E;
    color: #fff;
}

.meals-today {
    margin-top: 80px;
    border: 1px solid #ccc;
    background: #fff;
    border: none;
    box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border-radius: 10px;
}

.meals-today p {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.meals-today span {
    float: right;
    font-size: 16px;
    font-weight: 500;
    position: inherit;
}

.meals-today .breakfast {
    margin-top: 5px;
    border-bottom: 1px solid #CCCCCC;
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.breakfast img,
.breakfast .breakfast-text,
.breakfast {
    display: inline-block;
    vertical-align: middle;
}

.breakfast img {
    border-radius: 50%;
    margin: 20px;
    margin-right: 60px;
    height: 100px;
    width: 100px;
}

.breakfast {
    display: flex;
    justify-content: space-between;
    padding: auto;
}

.breakfast-text {
    margin: auto;
    margin-left: 20px;
}

.breakfast-text p {
    font-weight: 600;
}

.breakfast-text .breakfast-text-2 {
    font-size: 18px;
    font-weight: 500;
}

.breakfast-text span {
    float: none;
    border: 1px solid #2DA44E;
    border-radius: 30px;
    margin-left: 4px;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;
}

.breakfast-text span:hover {
    box-shadow: 0px 0px 5px #2DA44E;
    background-color: #2DA44E;
    color: #fff;
}

.breakfast-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 20px;
}

.breakfast-buttons .btn {
    background-color: #2DA44E;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 400;
}

.breakfast-buttons .btn:hover {
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #fff;
    color: #2DA44E;
}
.breakfast-buttons .btn:active{
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #fff;
    color: #2DA44E;
}

/* about food css for food benefits*/
.About-headings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-headings a {
    margin-top: 20px;
    margin-left:  10px;
    margin-right:  10px;
}
.About-headings a:first-child{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.About-headings a:last-child{
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    color: #2DA44E;
}
.About-food-info{
    border: 1px solid #2DA44E;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.About-food-info p{
    padding-top:20px;
}
.About-food-info p:first-child{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 700;  
    
}
.About-food-info p:last-child{
    margin: 0px 24px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* end of about food css for food benefits */

/* about food css for Nutritional content*/

.About-headings-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-headings-1 button {
    margin-top: 20px;
    margin-left:  10px;
    margin-right:  10px;
    border: 1px solid #2DA44E;
    background-color: #2DA44E;
    color: #fff;
    border: none;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 30px;
    padding: 5px 14px;
}

.About-headings-1 button:last-child{
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #fff;
    color: #2DA44E;
}
.About-headings-1 button last-child:focus{
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #2DA44E;
    color: #fff;
}
/* .About-headings-1 button:hover{
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #2DA44E;
    color: #fff;
}
.About-headings-1 button:active{
     box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #2DA44E;
    color: #fff;
}
.About-headings-1 button:first-child{
    outline: #2DA44E;
    box-shadow: 0px 0px 5px #2DA44E;
}
.About-headings-1 button:last-child{
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #fff;
    color: #2DA44E;
} */
.about-nutritional-content{
    border: 1px solid #2DA44E;
    border-radius: 10px;
    margin-top: 10px;
}

/* first nutrtional content table */

.about-nutritional-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid #2DA44E ;
}
.about-nutritional-content-1 table {
    width: 30%;
    height: auto;
    padding: 10px;
    margin: 0 auto;

}
.about-nutritional-content-1 table td{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    font-weight: 400;
    }
table td:nth-child(2) {
    text-align: center;
    background-color: white;
    border: 2px solid #2DA44E;
    border-radius: 30px;
    padding:0px 20px;
}
table td{
    padding: 1px;
}
.about-nutritional-content-1 p{
    padding-top:20px;
}
.about-nutritional-content-1 p:first-child{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 700;  
    
}
.about-nutritional-content-1 table:last-child{
    margin-bottom: 20px;
}

/* second nutrtional content table */

.about-nutritional-content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.about-nutritional-content-2 table {
    width: 30%;
    height: auto;
    padding: 10px;
    margin: 0 auto;

}
.about-nutritional-content-2 table td{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    font-weight: 400;
    }
.about-nutritional-content-2 p{
    padding-top:20px;
}
.about-nutritional-content-2 p:first-child{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 700;  
    
}

.about-nutritional-content-2 table:last-child{
    margin-bottom: 20px;
}

/* Admin dashboard css */

.main-groups {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.main-groups .card {
    width: 25%;
    /* margin: 10px; */
    margin-left: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(45, 164, 78, 0.2);
}

.main-groups .card h3 {
    margin: 10px;
    text-transform: capitalize;
    font-family: 'Karla', sans-serif;
}

.main-groups .card p {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

.main-groups .card a button {
    margin-top: 20px;  
    margin-bottom: 15px;
    /* border: 1px solid #2DA44E; */
    background-color: #2DA44E;
    color: #fff;
    border: none;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 30px;
    padding: 7px 15px;
}
.main-groups .card a button:hover {
    box-shadow: 0px 0px 5px #2DA44E;
    /* border: 1px solid #2DA44E; */
    background-color: #fff;
    color: #2DA44E;
}

.main-groups .card i {
    font-size: 22px;
    padding: 10px;
}


