/* body {
    background-image: url("SUPA\ meal\ planner\ -\ Copy.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    background-color: #F6F8FA;
}

.not-found-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.not-found-details img {
    width: 160px;
}

.error-logo {
    fill: red;
}

.meal-logo {
    width: 480px;
}

.not-found-details .error {
    font-weight: 600;
}

.not-found-details .error span {
    font-weight: 500;
    color: #CCCCCC;
}

.not-found-details button {
    background-color: #2DA44E;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 32px 0px 0px 0px;
    cursor: pointer;
    font-weight: 600;
}

.not-found-details button:hover {
    box-shadow: 0px 0px 5px #2DA44E;
    border: 1px solid #2DA44E;
    background-color: #fff;
    color: #2DA44E;
}